.flaticon-001-sql-file-symbol:before {
	content: "\e001";
}
.flaticon-002-pdf-file-format-symbol:before {
	content: "\e002";
}
.flaticon-003-xml-file-format-symbol:before {
	content: "\e003";
}
.flaticon-004-search:before {
	content: "\e004";
}
.flaticon-005-contract:before {
	content: "\e005";
}
.flaticon-006-archive:before {
	content: "\e006";
}
.flaticon-007-checklist:before {
	content: "\e007";
}
.flaticon-008-open-folder-with-document:before {
	content: "\e008";
}
.flaticon-009-computer:before {
	content: "\e009";
}
.flaticon-010-book:before {
	content: "\e00a";
}
.flaticon-011-keyword:before {
	content: "\e00b";
}
.flaticon-012-cluster:before {
	content: "\e00c";
}
.flaticon-013-algorithm:before {
	content: "\e00d";
}
